/*
Colors used:
Primary Color (reef blue): #2BA8DA;
Secondary color: (darker blue): #1F7A9E;
box shadows: #2283AA;
Text color (headings): #2F2E2E;
Secondary text color (dark grey): #898789;
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #898789;
  line-height: 1.6;
}

h1, h2, h3, h4 {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.3;
  color: #2F2E2E;
}

h1 {
  font-weight: 700;
  font-size: 2.75em;
  text-align: center;
}

h2 {
  font-weight: 600;
  font-size: 2.25em;
}

h3 {
  font-weight: 400;
  font-size: 1.75em;
}

h4 {
  font-weight: 400;
  font-size: 1.35em;
}

img {
  width: 100%;
}

a {
  color: #fff;
  text-decoration: none;
}

a:visited {
  color: #fff;
}

a:hover,
a:focus {
  color: #2BA8DA;
  text-decoration: none;
}

a:active {
  color: #2BA8DA;
}

.button {
  display: inline-block;
  background-color: #2BA8DA;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #2283AA;
  transition: 0.2s opacity;
}

a.button {
  color: #fff;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button:active {
  color: #1F7A9E;
}

.button.contact {
  background-color: transparent;
  color: #2BA8DA !important;
  border: 2px solid #2BA8DA;
}

.button.contact:hover {
  background-color: #2BA8DA;
  color: #fff !important;
}

header {
  background-color: #1F7A9E;
  text-align: center;
  padding: 10px 0;
  -webkit-box-shadow: 0px 5px 6px 0px rgba(69, 87, 96, 0.37);
  -moz-box-shadow:    0px 5px 6px 0px rgba(69, 87, 96, 0.37);
  box-shadow:         0px 5px 6px 0px rgba(69, 87, 96, 0.37);
position: relative;
}

/* Layout styling */
.container {
  padding: 0 15px;
  max-width: 1200px;
}

.row {
  margin: 25px 0;
}

#work .row {
  padding-bottom: 25px;
}

.logo {
  max-width: 250px;
  text-align: center;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  display: inline-block;
  width: 100%;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #2BA8DA;
}

nav > ul > li > a:visited {
color: #2BA8DA;
}

nav > ul > li > a:hover {
color: #1F7A9E;
}

nav > ul > li > a:active {
color: #1F7A9E;
}

#hero {
  background-color: #1F7A9E;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}
